/**
Spice up
MIT licensed
Copyright 2017 Edwin Martin
*/

@-ms-viewport{
    width: device-width;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-display: optional;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

body {
    background-color: hsl(0, 0%, 99%);
    color: hsl(0, 0%, 2%);
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0;
}

code,
var,
kbd,
samp,
tt,
abbr,
acronym,
blockquote,
q {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

a {
    color: hsl(209, 87%, 33%);
}
a:visited {
    color: hsl(281, 87%, 33%);
}
a:hover {
    color: hsl(0, 87%, 33%);
}

header {
    width: 100%;
    margin: 0 auto;
    background-color: hsl(209, 87%, 33%);
    color: hsl(209, 0%, 98%);
}

footer {
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 2rem;
    color: hsl(0, 0%, 80%);
    background-color: hsl(209, 22%, 23%);
}
footer a {
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    padding: 1rem;
}
footer a:hover {
    color: hsl(211, 83%, 52%);
}

footer ul,
footer li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
}

footer li::before {
    content: " - ";
}

footer li:first-child::before {
    content: "";
}

table {
	table-layout: fixed;
	border-collapse: collapse;
    width: 100%;
}
@media (min-width: 40rem) {
    table {
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }
}

th {
    padding: 0.5rem;
    color: hsl(209, 87%, 33%);
    text-align: left;
}

td {
    padding: 0.5rem;
}

tr {
    border-bottom: 1px solid hsl(209, 87%, 90%);
}

main {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 60rem;
}

h1,
h2,
h3 {
   text-rendering: optimizeLegibility;
}


h1 {
    margin: 0 auto;
    max-width: 60rem;
    padding: 2rem 1rem;
    font-size: 3rem;
}

h2,
h3,
h4,
h5,
h6 {
    color: hsl(209, 22%, 30%);
}

.panel {
    margin: 0 1em;
}

.connection {
    position: relative;
    border: 1px solid darkgrey;
    border-radius: 3px;
    margin: 1em 0;
    padding: 1em;
}

#connect {
    position: absolute;
    right: 1em;
    top: 1em;
}

button,
input[type="submit"],
input[type="button"] {
    height: 2rem;
    background-color: #b5c9e6;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}

form {
    background-color: hsla(205, 31%, 97.5%, 1);
    border-radius: 3px;
    margin: 1em 0;
    padding: 1em;
}

fieldset {
    border: none;
    margin-left: 12rem;
    position: relative;
    border-radius: 0.5rem;
}


legend {
    position: absolute;
    width: 12rem;
    font-weight: bold;
    left: -12rem;
    color: hsl(209, 87%, 33%);
}

@media (max-width: 40rem) {
    fieldset {
        margin: 1rem 0 0
    }
    legend {
        position: static;
        left: 0;
        border-bottom: 1px solid lightblue;
        width: 100%;
        margin-bottom: 1rem;
    }
}

label {
    display: block;
    margin-bottom: 1rem;
}
label label {
    margin-bottom: 0;
}
input,
textarea,
select {
    display: block;
    margin-top: 0.5rem;
    font-size: 16px;
    border: none;
    padding: 0.5rem;
    border-bottom: 1px solid lightblue;
    background-color: white;
}
input,
select {
    height: 2rem;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=number],
textarea {
    width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
    position: relative;
    top: -2px;
    display: inline-block;
    margin: 0.5rem 0.7rem 0 0;
    height: auto;
}

.light {
    color: hsl(0, 0%, 50%);
}

.horizontal > *,
.horizontal-justify > * {
    display: inline-block;
    margin-right: 0.5rem;
    align-self: flex-end;
}

@supports (display: flex) {
    .horizontal-justify {
        display: flex;
    }
    .horizontal-justify > * {
        flex: 1 1 auto;
    }
    .horizontal-justify > *:last-child {
        margin-right: 0;
    }
    .horizontal-justify input,
    .horizontal-justify select {
        width: 100%;
    }
}
