@-ms-viewport{
    width: device-width;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-display: optional;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

body {
    color: $fg-color;
    background-color: $bg-color;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0;
}

code,
var,
kbd,
samp,
tt,
abbr,
acronym,
blockquote,
q {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

a {
    color: hsl(hue($primary-color), 87%, 33%);
}
a:visited {
    color: hsl(hue(adjust-hue($primary-color, -30deg)), 87%, 33%);
}
a:hover {
    color: hsl(hue(adjust-hue($primary-color, +30deg)), 87%, 33%);
}

header {
    width: 100%;
    margin: 0 auto;
    background-color: hsl(hue($primary-color), 87%, 33%);
    color: hsl(hue($primary-color), 0%, 98%);
}

main {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 60rem;
}

h1,
h2,
h3 {
    text-rendering: optimizeLegibility;
}

h1 {
    margin: 0 auto;
    max-width: 60rem;
    padding: 2rem 1rem;
    font-size: 3rem;
}

h2,
h3,
h4,
h5,
h6 {
    color: hsl(hue($primary-color), 22%, 30%);
}

.light {
    color: $light-color;
}

.horizontal > *,
.horizontal-justify > * {
    display: inline-block;
    margin-right: 0.5rem;
    align-self: flex-end;
}

@supports (display: flex) {
    .horizontal-justify {
        display: flex;
    }
    .horizontal-justify > * {
        flex: 1 1 auto;
    }
    .horizontal-justify > *:last-child {
        margin-right: 0;
    }
    .horizontal-justify input,
    .horizontal-justify select {
        width: 100%;
    }
}
