table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
}
@media (min-width: 40rem) {
    table {
        margin: 0 auto;
    }
}

th {
    padding: 0.5rem;
    color: hsl(hue($primary-color), 87%, 33%);
    text-align: left;
}

td {
    padding: 0.5rem;
}

tr {
    border-bottom: 1px solid hsl(hue($primary-color), 87%, 90%);
}
